<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stylesheet.css') }}"
    />
    <title>{{ pageTitle }}</title>
  </head>

  <body>
    <div class="container">
      <ul>
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>